
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
}
.board {
  z-index: 10;
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  width: 323px;
  height: 323px;
  user-select: none;
}
.board::before {
  display: block;
  content: '';
  position: absolute;
  top: -3%;
  left: -3%;
  width: 105%;
  height: 105%;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.568);
}

.square {
  cursor: pointer;
  position: absolute;
  background: #3a3938;
  background-image: linear-gradient(150deg, rgb(61, 61, 61), 
  rgb(0, 0, 0));
  border: 2px solid #252524;
  font-size: 50px;
  font-weight: normal;
  line-height: 80px;
  height: 80px;
  width: 80px;
  padding: 0;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 2px #000, -1px -1px rgba(0, 0, 0, 0.185);
}
.square::after {
  content: '';
  display: block;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.square:hover {
  color: rgb(255, 255, 255);
}
.square:empty {
  display: none;
}
.square:focus, .start:focus {
  outline: none;
}
.start {
  position: absolute;
  width: 250px;
  height: 75px;
  top: 150px;
  left: 77px;
  /* background: rgb(0, 0, 0); */
  background-image: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
  color: #fff;
  font-size: 40px;
  text-shadow: 1px 1px 1px rgb(99, 99, 99);
}
.start:active {
  background-image: linear-gradient(0deg, rgb(48, 48, 48), rgb(0, 0, 0));
}
.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
}
